@mixin product{
    display: flex;
    flex-direction: column;
    .woocommerce-loop-product__link{

        >img{
            margin: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .price{
        ins{
            margin-inline-start: 0;
        }
    }
    &__information{
        flex-grow: 1;
        display: grid;
        gap: 8px 10px;
        grid-template-columns: 1fr 1fr auto;
        grid-template-areas: 
        "info info cart"
        "price price cart";
        padding: 8px 12px;
        background-color: $background-card;
        border-radius: 9px;
        >a{
            grid-area: info;
        }
        .woocommerce-loop-product__title{
            font-size: 23px;
            @media only screen and (min-width: 445px){
                font-size: 16px;
            }
        }
        h2{
            grid-area: info;
            color: $white;
            text-align: left;
        }
        .price{
            display: flex;
            align-items: flex-end;
            grid-area: price;
            text-align: left;
            font-size: 30px;
            color: $secondary-color;
            margin: 0;
            column-gap: 10px;
            flex-wrap: wrap;
            line-height: 1.2;
            @media only screen and (min-width: 445px){
                font-size: 20px;
            }
            del{
                color: $yellow;
                opacity: 1;
            }
        }
        .onsale{
            position: absolute;
            top: 10px;
        }
    }
    &__button{
        grid-area: cart;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-end;
        gap: 5px;
        a{
            //&.add_to_cart_button{
                display: flex;
                height: 69px;
                width: 69px;
                //flex-basis: 40px;
                padding: 0;
                @extend .flex-center;
                background-color: $secondary-color;
                color: $white;
                border-radius: 50%;
                @media only screen and (min-width: 445px){
                    height: 40px;
                    width: 40px;
                }
                i{
                    font-size: 31px;
                    @media only screen and (min-width: 445px){
                        font-size: 19px;
                    }
                }
            //}
            &:not(.add_to_cart_button){
                background-color: white;
                i{
                    color: $black;
                }
            }
            &.cart_item_out_of_stock{
                width: auto;
                border-radius: 0;
                height: auto;
                line-height: 1.2;
                background: white;
                color: black;
                font-weight: 500;
                i{
                    display: none;
                }
            }
            &.cart_item_out_of_stock{
                padding: 5px;
            }
            &.added_to_cart{
                &.wc-forward{
                   font-size: 12px;
                   color: $black;
                   line-height: 1;
                    &:after{
                        content: none;
                    }
                }
            } 
        }
    }
    
}

//.slider-products__arrows
@mixin slider-arrows(){
    .swiper-button-prev-upsell, .swiper-button-next-upsell{
        position: absolute;
        top: 50%;
        &.swiper-button-disabled{
            i{
                opacity: 0.4;
            }
        }
        i{
            &:before{
                font-family: icomoon!important;
                color: $white;
                font-size: 25px;
                cursor: pointer;
            }
        }
    }
    .swiper-button-next-upsell{
        right: -30px;
        i{
            &:before{
                content: "\e908";
            }
        }
    }
    .swiper-button-prev-upsell{
        left: -30px;
        i{
            &:before{
                content: "\e906";
            }
        }
    }
}