<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">

    <testsuites>
        <testsuite name="RRM Theme Unit Tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>assets/node_modules</directory>
            <directory>inc/nux</directory>
            <directory>inc/customizer</directory>
            <directory>profilegrid-user-profiles-groups-and-communities</directory>
        </exclude>
    </source>

</phpunit>
