// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Colors
$primary-color: #1d1d1d; // black-rr
$secondary-color: #e81837; // red-rr
$secondary-dark: #c11630;
$t-color: #131313;
$text-color-p: #777; // tet-rr
$background-card: #0e0e0e;

$gray: #1a1a1a;
$gray2: #8e8e8e;
$yellow: #f0d91b;

$white: #fff;
$black: #000;

$black2: #151515;
$black3: #323232;
$black4: #272727;
$black5: #0e0e0e;

$teko: 'Teko', sans-serif;
$lato: 'Lato', sans-serif;

//FontSize
$f90: 9rem;
$f85: 8.5rem;
$f80: 8rem;
$f70: 7rem;
$f50: 5rem;
$f40: 4rem;
$f30: 3rem;
$f20: 2rem;
$f18: 1.8rem;
$f16: 1.6rem;
$f15: 1.5rem;
$f14: 1.4rem;
$f13: 1.3rem;
$f12: 1.2rem;
$f11: 1.1rem;
$f10: 1rem;
$f9: 0.9rem;
