.archive-content{
    display: grid;
    margin-top: 25px;
    margin-bottom: 60px;
    @media only screen and (min-width: 768px){
        grid-template-columns: repeat(12,1fr);
        column-gap: 30px;
        margin-top: 80px;
        margin-bottom: 0px;
    }
    main{
        grid-column: 1 / 9;
        @media only screen and (min-width: 992px){
            grid-column: 2 / 9;
        }
    }
    aside{
        grid-column: 9 / -1;
        @media only screen and (min-width: 992px){
            grid-column: 9 / 12;
        }
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        align-items: flex-end;
    }
}

.aside-component{
    background-color: $background-card;
    border: 1px solid $black;
    border-radius: 9px;
    padding: 20px;
    color: $white;
    width: 100%;
    @media only screen and (min-width: 768px){
        max-width: 230px;
    }
    h2{
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;
    }
}

.tags{
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        column-gap: 10px;
        row-gap: 5px;
        flex-wrap: wrap;
        margin-block-start: 10px;
        li{
            a{
                background-color: $gray;
                color: $white;
                padding-inline: 5px;
                padding-block: 2px;
                font-family: $lato;
                font-size: 12px;
            }
        }
    }
}

.categories{
    ul{
        padding: 0;
        margin: 0;
        column-count: 2;
        column-gap: 10px;
        margin-block-start: 15px;
        li{
            a{
                color: $white;
                font-family: $lato;
                font-size: 12px;
            }
            position: relative;
            padding-inline-start: 8px;
            padding-block: 4px;
            &::before{
                display: flex;
                align-items: center;
                position: absolute;
                content: "";
                height: 3px;
                width: 3px;
                left: 0;
                top: -3px;
                bottom: 0;
                margin: auto;
                background-color: $secondary-color;
            }
        }
    }
}

.recent-posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    article{
        a{
            display: flex;
            column-gap: 15px;
            color: $white;
        }
        h3{
            font-size: 14px;
            margin: 0;
            font-weight: 400;
        }
    }
    &__info{
        time{
            color: $text-color-p;
            font-size: 12px;
            letter-spacing: 2.3px;
        }
    }
    &__image{
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
        height: 50px;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

.archive-posts{
    //margin-left: -25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media only screen and (min-width: 768px){
        row-gap: 35px;
    }
    .archive-post{
        max-width: 635px;
        position: relative;
        &__social{
            position: absolute;
            top: 25px;
            right: 25px;
            ul{
                display: flex;
                column-gap: 20px;
            }
            
        }
        &__title{
            h2{
                font-size: 30px;
                color: $white;
                @media only screen and (min-width: 768px){
                    font-size: 25px;
                }
            }
            &:hover{
                h2{
                    color: $secondary-color;
                }
            }
        }
        &__info{
            color: $white;
            padding: 22px 20px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                border-bottom: 2px solid $secondary-color;
                width: calc(100% - 40px);
                margin: auto;
                left: 0;
                right: 0;
            }
            time{
                letter-spacing: 2.3px;
                font-size: 10px;
                color: $text-color-p;
                text-transform: uppercase;
                margin-bottom: 15px;
                display: block;
            }
            p,b,strong{
                font-family: $lato;
                font-size: 14px;
                color: $gray2;
                margin-block-end: 10px;
                @media only screen and (min-width: 768px){
                    margin-block-end: 50px;
                }
            }
        }
        &__image{
            display: flex;
            max-height: 365px;
            img{
                object-fit: cover;
                width: 100%;
                height: auto;
            }
           
        }
        &__button{
            background-color: $black;
            color: $white;
            font-size: 12px;
            height: 40px;
            min-width: 90px;
            padding: 10px;
            text-transform: uppercase;
            display: inline-flex;
            @extend .flex-center;
            transition: all 0.2s ease-in;
            &:hover{
                background-color: $secondary-dark;
            }
        }
    }
}

.not-found-entries{
    font-size: 30px;
    color: white;
}