.pmagic{
    &.reset-password{
        .pm-login-box{
            margin-inline: auto;
            max-width: 315px;
        }
    }
    #lostpasswordform{
        input#user_login{
            float: none;
        }
    }
    #resetpassform{
        .pm-row{
            margin-block-end: 15px;
        }
        input[type="text"],[type="email"],[type="password"]{
            @extend .input-rrm;
            //padding-inline-start: 35px !important;
            margin: 0 !important;
            width: 100% !important;
            max-width: 100% !important;
            &:focus{
                border: 1px solid $secondary-color;
            }
            &::-webkit-input-placeholder,&::-ms-input-placeholder, &::-moz-input-placeholder,&::placeholder{
                //font-family: 'icomoon';
                font-size: 12px;
                //height: 15px;
                font-family: inherit;
            }
        }
        .pm-login-box-bottom-container{
            padding-inline: 0;
            input[type="submit"]{
                @extend .flex-center;
                background-color: $secondary-color;
                min-height: 40px;
                min-width: 110px;
                max-width: inherit;
                padding: 10px;
                color: $white;
                width: max-content;
                font-size: 12px;
                text-transform: uppercase;
                transition: all 0.2s ease-in;
                font-weight: 300;
                width: 100%;
                border: none;
                outline: none;
                box-shadow: none;
                &:hover{
                    background-color: $secondary-dark;
                }
            }
        }
    }
    &.recovery{
        .pm-login-header-buttons{
            display: flex;
            gap: 30px;
            justify-content: space-between;
            flex-wrap: wrap;
            a{
                flex: 1;
                @extend .flex-center;
                background-color: $secondary-color;
                min-height: 40px;
                min-width: 110px;
                max-width: inherit;
                padding: 10px;
                color: $white;
                width: max-content;
                font-size: 12px;
                text-transform: uppercase;
                transition: all 0.2s ease-in;
                font-weight: 300;
                width: 100%;
                border: none;
                outline: none;
                box-shadow: none;
                &:hover{
                    background-color: $secondary-dark;
                }
                &:first-child{
                   background-color: $black4; 
                }
            }
        }
        .pm-login-box{
            margin-inline: auto;
            max-width: 315px;
            .pm-login-header{
                letter-spacing: 0.5px;
                font-size: 16px;
                line-height: 1.3;
            }
            form{
                .pm-row{
                    margin-block-end: 15px;
                }
                .pm-field-input{
                    width: 100%;
                    position: relative;
                    float: none;
                    i{
                        position: absolute;
                        top: 15px;
                        left: 10px;
                        color: $text-color-p;
                    }
                    input[type="text"],[type="email"],[type="password"]{
                        @extend .input-rrm;
                        padding-inline-start: 35px !important;
                        margin: 0 !important;
                        width: 100% !important;
                        max-width: 100% !important;
                        &:focus{
                            border: 1px solid $secondary-color;
                        }
                        &::-webkit-input-placeholder,&::-ms-input-placeholder, &::-moz-input-placeholder,&::placeholder{
                            //font-family: 'icomoon';
                            font-size: 12px;
                            //height: 15px;
                            font-family: inherit;
                        }
                    
                    }
                }
                input[type="submit"]{
                    @extend .flex-center;
                    background-color: $secondary-color;
                    min-height: 40px;
                    min-width: 110px;
                    max-width: inherit;
                    padding: 10px;
                    color: $white;
                    width: max-content;
                    font-size: 12px;
                    text-transform: uppercase;
                    transition: all 0.2s ease-in;
                    font-weight: 300;
                    width: 100%;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    &:hover{
                        background-color: $secondary-dark;
                    }
                }
            }
        }
        
    }
}