#home_salon_fama {
    width: 100%;
    margin: 90px 0px;
    .content_salon{
        display: flex;
        flex-direction: row;
        padding-inline: 95px;
        width: 100%;
        .left_content{
            display: flex;
            flex-direction: column;
            width: 25%;
            justify-content: center;
            align-items: flex-start;
            a{
                @include primary-button(39px, fit-content, 12px, 11px 34px);
            }
            h2{
                font-family: $teko;
                font-size: 50px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: normal;
                text-align: left;
                color: $white;
                text-transform: uppercase;
                margin: 0px 0px 43px;
                max-width: 159px;
            }
            .title_small{
                width: 100%;
                display: flex;
                flex-direction: row;
                padding-left: 37px;
                margin-bottom: 8px;
                p{
                    font-family: $teko;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.83;
                    letter-spacing: 2.76px;
                    text-align: center;
                    color: $white;
                    margin: 0px;
                    text-transform: uppercase;
                    position: relative;
                    max-width: 68px;
                    &::after{
                        content: '';
                        width: 24px;
                        height: 2px;
                        position: absolute;
                        background-color: $secondary-color;
                        right: -35px;
                        top: 7px;
                    }
                    &::before{
                        content: '';
                        width: 24px;
                        height: 2px;
                        position: absolute;
                        background-color: $secondary-color;
                        left: -35px;
                        top: 7px;
                    }
                }
            }
            
        }
        .right_content{
            width: 75%;
            .slick-disabled{
                display: none !important;
            }
            .slide_salon{
                width: 258px;
                min-width: 258px;
                height: 315px;
                display: flex;
                flex-direction: column;
                position: relative;
                //margin-inline: 18px;
                img{
                    width: inherit;
                    height: inherit;
                }
                .caption_slide{
                    position: absolute;
                    left: 25px;
                    bottom: 22px;
                    .user_name{
                        font-family: $teko;
                        font-size: 18px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 0.94;
                        letter-spacing: normal;
                        text-align: left;
                        color: $secondary-color;
                        text-transform: uppercase;
                    }
                    .user_id{
                        font-family: $teko;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 0.92;
                        letter-spacing: normal;
                        text-align: left;
                        color: $white;
                    }
                }
                
            }
        }
    }

    .no-results{
        color: $white;
    }
    
}