body{
    font-family: $teko;
}

p{
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
    text-decoration: none !important;
    
}

a:focus, button:focus, .button.alt:focus, input:focus, textarea:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus {
    outline-color: transparent !important;
}

ul{
    list-style: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Teko:wght@300;500;700&display=swap');

body{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: $primary-color;
}
